<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>

    
</head>
<body>
    <!-- Your Page Content -->
    <h1>Hoş Geldiniz!</h1>
    <p>subscribers.com ile yapılandırılmış bildirimlerle ilgili harika bir web deneyimi yaşayın.</p>
    <!-- End Your Page Content -->
    <script type="text/javascript">var subscribersSiteId='fce81e45-f433-405e-8325-8aece78c74a8';</script><script type="text/javascript" src="https://cdn.subscribers.com/assets/subscribers.js"></script>
</body>
</html>
